
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {background-color: black;}
/* .main{color: white; text-align: center;} */
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #a1c3ff;

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #3474e6;
  color: #fff;
  height: 60px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

/* Change the color of links on hover */
.navbar .sel {
  background-color: blue;
  color: white;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.main  {
   /* background-image: url("../images/thighmasters collage logo.jpg");*/
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/*
.idxpic{
  max-width:1000px;
}*/
.idxpic img {
    width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.about .container{
    display:flex;
    flex-direction: column; 
    padding: 15px 20px;
  }  


.about img{
  width:100%; 
}

.about ul{
  display: flex;
  padding: 20px
}

.about blockquote{
  color: white;
  font-family: sans-serif;
  font-size:  20px;
  padding: 20px;
}


.shows img{
  width:100%; 
}

.shows .container{
    display:flex;
    flex-direction: column; 
    padding: 15px 20px;
  }  

  .shows table{
    color: white;
    font-family: sans-serif;
    font-size:  20px;
    text-align: left;
    padding: 20px;
  }
  
  .gallery .container{
    display:flex;
    flex-direction: column; 
    padding: 15px 20px;
  }  

  .gallery ul{
    display:flex;
    flex-direction: column;
    align-items: center;
   }

 /* .gallery li.menu-item:not(:last-child) { */
  .gallery li{ 
    margin-top: 25px;  
 }
 .gallery img{
   width:100%;
 }

    
.contact .container{
    display:flex;
    flex-direction: column; 
    padding: 15px 20px;
  }  

@media (max-width: 768px) {
  .about ul {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

